<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">

<head>
	<title  th:text="${title}">Insert title here</title>
</head>

<body>
	<th:block layout:fragment="content">
		<h1 th:text="${title}">Car List</h1>
		
		<div>
			<input type="text" id="search"><button id="searchbtn" class="stdBtn">Filter</button>		
		</div>
		
		<br>
		<div th:if="${cars} != null">
			<table class="datatable" id="carList">
				<tr class="column-header">
					<td>Brand</td>
					<td>Name</td>
					<td>Year</td>
				</tr>
	
				<th:block th:each="car: ${cars}">
					<tr>
						<td th:text="${car.brand.name}">brand</td>
						<td th:text="${car.model}">name</td>
						<td th:text="${car.productionDateFormat}">Year</td>
					</tr>
				</th:block>
				
			
			</table>
		</div>
	</th:block>
	<th:block layout:fragment="jsscript">
		<script th:src="@{/js/cars.js}"></script>
	</th:block>
</body>

</html>